.contactLink {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}


#phone {
    display: none; /* Hidden by default */
}

@media (max-width: 768px) { /* Common breakpoint for phones */
    #phone {
        display: inline;
    }
}

#thesis {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 30px;
}

#titleName {
    color:orange;
    font-size: 30px;
}

#introDescription {
    font-size: large;
}

#projectGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    margin-bottom: 30px;
}

#projectGrid > div {
    text-align: center;
    border: 3px solid orange;
    padding: 20px;
}

.projectDescription {
    text-align: left;
}

#titleProject {
    grid-column: span 2;
    color: black;
}

#threeReasonsGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 30px;
}

#myStoryText {
    text-indent: 40px;
}